.body {
    background: #660000;
    border-top: #76c38f;
    height: 30px;
}

.header {
    float: left;
    font-family: 'New Times Roman', Times, serif;
    font-size: 30px;
    margin: 35px 50px;
    border: 40px;
}

.text {
    font-family: 'Georgia';
    font-size: 20px;
}

.tabs {
    float: right;
}

.head1 {
    float: left;
    margin: 33px 25px;
    background-color: #76c38f;
    background-size: 30px 15px;
    padding: 8px;
    border-radius: 10px;
}

.head2 {
    float: left;
    margin: 40px 25px;
}

.head3 {
    float: left;
    margin: 40px 25px;
}

.head4 {
    float: left;
    margin: 40px 25px;
}

.head5 {
    float: left;
    margin: 40px 25px;
}

.head6 {
    float: left;
    margin: 40px 25px;
}

.mobile {
    height: 40px;
    width: 40px;
    border-radius: 40px 40px;
    background: greenyellow;
    float: right;
    display: none;
}

@media screen and (max-width: 500px) {
    .tabs {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 540px) {
    .body {
        background: burlywood;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .tabs {
        float: unset;
    }
    .header {
        float: unset
    }
}